*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background: #ddd;
  width: 700px;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  position: relative;
  font-family: verdana;
}

.container h1{
  text-align: center;
  background: #f4f5f6;
  font-variant: small-caps;
  font-style: italic;
  font-weight: lighter;
  padding: 1rem 0;
  letter-spacing: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.calc{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  outline: 5px solid #fff;
  width: 290px;
}

.calc__output{
  background: #f4f5f6;
  min-height: 70px;
  height: 70px;
  width: 100%;
  border-bottom: 5px solid #fff;
}

.row{
  display: flex;
}

.row > *{
  flex: 1;
}

.row > button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: 1.4rem;
  font-family: verdana;
  border: none;
  transition: 150ms;
}

.row > button.op{
  color: #f76f07;
}

.row > button.clear, .row > button.delete{
  text-transform: uppercase;
  font-size: 1.2rem;
}

.row > button.result{
  position: relative;
  color: transparent;
}

.row > button.result::before{
  content: "=";
  background: #f76f07;
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.row > button:hover{
  background: #d4d5d6;
}

/* output styles */

.calc__output{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calc__output > *{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.6rem;
  font-family: verdana;
  padding: 0 .7rem;
  width: 100%;
  overflow: auto;
}

.calc__output .expression{
  /*background: green;*/
}

.calc__output .result.hidden{
  display: none;
}